@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #2f3640;
}
@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-66.66%); /* Adjust this based on how many times you duplicate the columns */
    }
}
